

body{
  position: relative;
}



#home {
  margin-top: 2rem;
  background-image: url(snow_background.jpg);
  background-size: cover;
}

#mail_icon {
  font-size: 2.8rem;
}


.input_button {
  margin-left: .5rem;
}
