

body{
  position: relative;
}

span {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 45px;
}



#home {
  margin-top: 2rem;
  background-image: url(snow_background.jpg);
  background-size: cover;
}

#mail_icon {
  font-size: 2.8rem;
  background-color: white;
  padding: none;
  margin: none;
}


.input_button {
  margin-left: .5rem;
}
